body {
    font-family: Georgia serif;
    font-size: 14px;
    color: #2E2E2E;
}

h2 { 
  color: #1C1C1C;
}

tbody tr:nth-child(odd) {
   background-color: #E0E0E0;
}

table {
  font-family: arial, helvetica, sans-serif;
  font-size: 11px;
}

th {
  text-align: left;
  background-color: #CCCCCC;
  padding: 3px;
  color: #1C1C1C;
}

td {
  padding: 3px;
}

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc); 
}

path {
  stroke: #000000;
  stroke-width: 0.25px;
  fill: gray;
}

#citations {
  width: 85%;
  margin-left: 50px;
  margin-top: 50px;
  box-shadow: 5px 5px 10px 2px #a6a6a6; 
  opacity: 0.9; 
  padding: 15px;
}

#dropdown {
  width: 300px;
  margin: auto;
}

#mapbg {
  fill: none;
  pointer-events: all;
}

#head {
    position: relative;
    height: 75px;
    width: 100%;
    text-align: center;
}

#text {
    width: 40%;
    float: left;
    height: 360px;
    padding-left: 40px;
    padding-right: 40px;
}

#map {
    width: 600px;
    float: left;
    height: 360px;
    margin: 0;
    padding: 0;
}

#parcoord {
    height: 500px;
    clear: both;
    margin-left:auto;
    margin-right:auto;
    width:90%;
}

#table {
    height: 300px;
    margin-left:auto;
    margin-right:auto;
    width:90%;
    overflow-y: auto;
}

#footer {
    position: relative;
    display: inline;
    float: left;
    width: 100%;
    height: 70px;
    text-align: center;
    font-size: 13px;
}

#footer li + li:before {
    content: " \2022 ";
    padding: 0 5px;
}



div.tooltip {
  color: #222; 
  font-size: 11px;
  font-family: sans-serif;
  background: #fff; 
  padding: .5em; 
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 2px; 
  box-shadow: 0px 0px 2px 0px #a6a6a6; 
  opacity: 0.9; 
  position: absolute;
}

ul.list {
  border: 1px solid #CFCFCF;
  background-color: #F9F9F9;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  list-style-position: inside;
}

li.nav {
  display: inline;
}

ul.nav {
  list-style-type: none;
}

.cit {
  padding-top: 10px;
  padding-bottom: 10px;
}

a.nav {
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  text-decoration: none;
}

a:link {
  text-decoration: none;
  color: #2E2E2E;
}

a:visited {
  text-decoration: none;
  color: #3E193E;
}

a:active {
  text-decoration: none;
  color: #2E2E2E;
}

a:hover {
  text-decoration: underline; color: red;
  color: #2E2E2E;
}

.italic {
  font-style: italic;
}

.country {
  fill: #ccc;
  stroke: #fff;
  stroke-width: .5px;
  stroke-linejoin: round;
  cursor: pointer;
}

.hidden { 
  display: none; 
}

.active {
  fill: #DE2D26;
}

.indicator {
  font-family: arial, helvetica, sans-serif;
  font-size: 11px;
  color: #2E2E2E;
}

.axis-title {
  font-size: 12px;
  color: #2E2E2E;
  font-weight: bold;
}

.foreground path {
  fill: none;
  /*stroke-width: 2.5px;*/
}

.foreground path.fade {
  stroke: #000000;
  stroke-opacity: .05;
}

.legend {
  font-size: 11px;
  font-family: arial, helvetica, sans-serif;
}

.c0 {
  stroke: #F07A7C;
  stroke-width: 2.5px;
}

.c1 {
  stroke: #E41A1C;
  stroke-width: 2.5px;
}

.c1-fill {
  fill: #E41A1C;
}

.c2 {
  stroke:#A31215;
  stroke-width: 2.5px;
}

.c3 {
  stroke:#72A9D5;
  stroke-width: 2.5px;
}

.c4 {
  stroke: #377EB8;
  stroke-width: 2.5px;
}

.c4-fill {
  fill: #377EB8;
}

.c5 {
  stroke: #275982;
  stroke-width: 2.5px;
}

.c6 {
  stroke: #6DC16A;
  stroke-width: 2.5px;
}

.c7 {
  stroke: #42973F;
  stroke-width: 2.5px;
}

.c7-fill {
  fill: #42973F;
}

.c8 {
  stroke: #306C2D;
  stroke-width: 2.5px;
}

.c9 {
  stroke: #BD88C6;
  stroke-width: 2.5px;
}

.c10 {
  stroke: #984EA3;
  stroke-width: 2.5px;
}

.c10-fill {
  fill: #984EA3;
}

.c11 {
  stroke: #6D3875;
  stroke-width: 2.5px;
}

.c12 {
  stroke: #FFAD5B;
  stroke-width: 2.5px;
}

.c13 {
  stroke: #FF7F00;
  stroke-width: 2.5px;
}

.c13-fill {
  fill: #FF7F00;
}

.c14 {
 stroke: #C56200;
 stroke-width: 2.5px;
}

.c-no-data {
  fill: #333333;
}

.black {
  stroke: #000000;
  stroke-width: 5px;
  stroke-opacity: .75;
}

.pre {
  stroke: #377EB8;
  stroke-width: 1.5px;
  stroke-opacity: .50;
}

.during {
  stroke: #E41A1C;
  stroke-width: 2px;
  stroke-opacity: .50;
}

.post {
  stroke: #984EA3;
  stroke-width: 1.5px;
  stroke-opacity: .50;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #FFFFFF;
  shape-rendering: crispEdges;
}

.axis line, .axis path {
  fill: none;
  stroke: #000000;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.axis text {
  cursor: move;
}

.invert {
  background: #1F1F1F;
  color: #DCDCCC;
}

