body {
  font: 300 36px serif;
  height: 640px;
  margin: 10px;
  position: relative;
  width: 960px;
}

a:link, a:visited {
  color: #5F06FF;
  text-decoration: none;
}

a:hover {
  color: #666666;
}

svg {
  font-size: 13px;
}

th {
  text-align: left;
  background-color: #CCCCCC;
}

table tr {
  border: 1px solid gray;
  padding: 1px;
}

tbody tr:nth-child(odd) {
   background-color: #E0E0E0;
}

h1 {
  font-size: 64px;
}

h1, h2, h3 {
  font-weight: inherit;
  margin: 0;
}

h2, h3 {
  text-align: right;
  font-size: inherit;
  position: absolute;
  bottom: 0;
  right: 0;
}

h2 {
  font-size: 24px;
  position: absolute;
}

h3 {
  bottom: -20px;
  font-size: 18px;
}

#vis {
    width: 1024px;
    height: 500px;
    position: absolute;
    top: 200px;
    left: 35px;
}

#grid {
    width: 1024px;
    padding: 10px;
    font-family: serif;
    font-size: 13px;
}

#header {
    font-size: 14px;
    color: gray;
    font-family: serif;
}

#name {
    font-size: 13px;
    color: gray;
    font-family: serif;
}

#description {
    font-size: 14px;
    margin: 5px;
    width: 940px;
}

#conflict_desc {
  float: right;
  font-size: 12px;
  margin:5px;   
  width: 650px;
}

#instructions {
  font-size: 12px;
  width: 275px;
  border-top: solid;
  border-right: solid;
  border-bottom: solid;
  float: left;
}

#detail-table {
  position: absolute;
  top: 650px;
}

#top {
  width: 100%;
  margin:0 auto;
  background: blue;
}

#dropdown {
  position: absolute;
  top: 15px;
  left: 530px;
}

#map img {
  position: absolute;
  top: 0px;
  left: 850px;
}

.title {
  font-size: 30px;
  color: black;
  font-weight: bold;
  position: absolute;
  left: 495px;
  margin: 0px;
}

.row, .header, .cell { 
  height: 18px; 
}

.row, .header { 
  clear: left; border: 1px solid gray;
}

.header { 
  font-weight: bold; background-color: #F0F0F0; 
}

.cell { 
  float: left; overflow: hidden; white-space: nowrap; 
}

.col-0 { width: 150px; }
.col-1 { width: 60px; }
.col-2 { width: 140px; }
.col-3 { width: 140px; }
.col-4 { width: 200px; }
.col-5 { width: 70px; }
.col-6 { width: 60px; }
.col-7 { width: 90px; }

.foreground path {
  fill: none;
}

.foreground path.fade {
  stroke: #000000;
  stroke-opacity: .05;
}

.legend {
  font-size: 14px;
  font-style: oblique;
}

.USA-Pre, .TUR-Pre {
  stroke: #67001F;
  stroke-dasharray: 5,5;
  stroke-opacity: .65;
}

.USA-During, .TUR-During {
  stroke: #67001F;
  stroke-width: 2px;
  fill:none;
  stroke-opacity: .75;
}

.USA-Post, .TUR-Post {
  stroke: #67001F;
  stroke-dasharray: 20,10,5,5,5,10;
  stroke-opacity: .65;
}

.EGY-Pre, .AUS-Pre {
  stroke: #7A0177;
  stroke-dasharray: 5,5;
  stroke-opacity: .65;
}

.EGY-During, .AUS-During {
  stroke: #7A0177;
  stroke-width: 2px;
  fill:none;
  stroke-opacity: .75;
}

.EGY-Post, .AUS-Post {
  stroke: #7A0177;
  stroke-dasharray: 20,10,5,5,5,10;
  stroke-opacity: .65;
}

.GBR-Pre, .ISR-Pre {
  stroke: #034E7B;
  stroke-dasharray: 5,5;
  stroke-opacity: .65;
}

.GBR-During, .ISR-During {
  stroke: #034E7B;
  stroke-width: 2px;
  fill:none;
  stroke-opacity: .75;
}

.GBR-Post, .ISR-Post {
  stroke: #034E7B;
  stroke-dasharray: 20,10,5,5,5,10;
  stroke-opacity: .65;
}

.IRN-Pre  {
  stroke: #40004B;
  stroke-dasharray: 5,5;
  stroke-opacity: .65;
}

.IRN-During {
  stroke: #40004B;
  stroke-width: 2px;
  fill:none;
  stroke-opacity: .75;
}

.IRN-Post{
  stroke: #40004B;
  stroke-dasharray: 20,10,5,5,5,10;
  stroke-opacity: .65;
}

.IRQ-Pre, .SYR-Pre, .GRC-Pre {
  stroke: #00441B;
  stroke-dasharray: 5,5;
  stroke-opacity: .65;
}

.IRQ-During, .SYR-During, .GRC-During {
  stroke: #00441B;
  stroke-width: 2px;
  fill:none;
  stroke-opacity: .75;
}

.IRQ-Post, .SYR-Post, .GRC-Post {
  stroke: #00441B;
  stroke-dasharray: 20,10,5,5,5,10;
  stroke-opacity: .65;
}

.IND-Pre {
  stroke: #003C30;
  stroke-dasharray: 5,5;
  stroke-opacity: .65;
}

.IND-During {
  stroke: #003C30;
  stroke-width: 2px;
  fill:none;
  stroke-opacity: .75;
}

.IND-Post {
  stroke: #003C30;
  stroke-dasharray: 20,10,5,5,5,10;
  stroke-opacity: .65;
}

.PAK-Pre {
  stroke: #543005;
  stroke-dasharray: 5,5;
  stroke-opacity: .65;
}

.PAK-During {
  stroke: #543005;
  stroke-width: 2px;
  fill:none;
  stroke-opacity: .75;
}

.PAK-Post {
  stroke: #543005;
  stroke-dasharray: 20,10,5,5,5,10;
  stroke-opacity: .65;
}

.pre {
  stroke: #1F78B4;
  stroke-dasharray: 5,5;
  stroke-opacity: .65;
}

.during {
  stroke: #E31A1C;
  stroke-width: 2px;
  fill:none;
  stroke-opacity: .75;
}

.post {
  stroke: #33A02C;
  stroke-dasharray: 20,10,5,5,5,10;
  stroke-opacity: .65;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #FFFFFF;
  shape-rendering: crispEdges;
}

.axis line, .axis path {
  fill: none;
  stroke: #000000;
  shape-rendering: crispEdges;
}

.axis text {
  cursor: move;
}

.invert {
  background: #1F1F1F;
  color: #DCDCCC;
}